html
  head
    meta(charset="utf-8")
    title Resume Generator
    link(rel="stylesheet" href="style/loader.css")
  body
    section.loader
      h1 Resume Generator
      h2.loader__title Let's create your resume, shall we?
      button.loader__new(title="Create a new resume") New
      button.loader__load(title="Load resume information") Load
    
    script(src="loader.js")