- var experiences = [{"title":"Web Project Manager", "org":"Defenseur des droits, French Prime Minister Services", "desc":["Web projects and service providers management: 10 websites launched, with 4 different providers.","Emailings: Newsletter and campaigns management."]},{"title":"DevOp", "org":"Freelance", "desc":["Development and deployment of web services: Visio web app for one to one interviews."]},{"title":"Customer Relations and Logistics Manager", "org":"NBM Groupe", "desc":["Customer relations management: before and after sales service.","Logistics: Parcels expedition and products supply management."]},{"title":"Volunteer Product Manager", "org":"Apache Magazine", "desc":["Functional design, development and deployment of the magazine website."]},{"title":"Social Media Executive", "org":"Viadeo", "desc":["Viadeo brand social media account management.","Social media campaigns planning."]},{"title":"Partnerships and Events Assistant", "org":"Viadeo", "desc":["Event planning and organization.","Emailing campaigns development and management.","Partnerships data analysis."]}];

- var education = [{"title":"Marketing, Communication and Internet", "org":"ESA3", "desc":["Market benchmarking. Marketing campaigns planning. Business planning and strategy."]},{"title":"M.S. in Multimedia Project Management", "org":"Ecole Multimedia", "desc":["Activities and Societies: Multimedia Project Conception and Management.","Marketing and Media Strategy Conception.","Web Development Improvements."]},{"title":"B.S. in Information and Communication Sciences", "org":"UNSA", "desc":["Activities and Societies: Marketing and Advertising.","Communication Plans and Audit.","Information and Communication Sciences Theories."]}];

html
  head
    meta(charset="utf-8")
    title Yorick Demichelis
    link(rel="stylesheet", media="all", href="resume.css")
  body
    header
      h1 Yorick Demichelis
      ul.links
        li
          a(href="https://github.com/ctrlaltdev") Github
        li
          a(href="https://linkedin.com/in/yorickdemichelis") LinkedIn
        li
          a(href="https://ctrlaltdev.xyz") ctrlaltdev.xyz
    section#contact
      ul
        li
          a(href="tel:+33677233414") +3367-723-3414
        li
          a(href="mailto:yorick@ctrlaltdev.xyz") yorick@ctrlaltdev.xyz
        li
          a(href="https://ctrlaltdev.xyz/PGPKEY.txt") PGP key: 6B5A 7524
    section#experiences
      h2
        span Experiences
      each exp in experiences
        article
          h3
            span= exp.title
            = ' - ' + exp.org
          each desc in exp.desc
            p= desc
    section#education
      h2
        span Education
      each educ in education
        article
          h3
            span= educ.title
            = ' - ' + educ.org
          each desc in educ.desc
            p= desc