@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
canvas {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button,
a {
  cursor: pointer; }

a {
  text-decoration: none;
  color: #000000; }

html,
body {
  font-size: 10pt;
  font-family: 'Titillium Web', sans-serif;
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-repeat: repeat;
  background-attachment: fixed;
  color: black; }

header {
  display: flex;
  justify-content: space-between; }
  header h1 {
    flex: 0 0 auto;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3em; }
  header ul {
    flex: 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    header ul li {
      flex: 0 0 auto;
      width: 100%;
      margin: 5pt 0;
      text-align: right; }
  header a {
    border-bottom: solid #000000 3pt; }
  header a[href^="https://github"] {
    border-bottom: solid #0366d6 3pt; }
  header a[href^="https://linkedin"] {
    border-bottom: solid #0091ca 3pt; }

section {
  margin-top: 20pt; }
  section h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6em;
    margin: 20pt 0 10pt; }
    section h2 span {
      padding: 5pt 20pt;
      background-color: black;
      color: white; }
  section article {
    padding-left: 20pt; }
    section article h3 {
      text-transform: uppercase;
      font-size: 1.2em;
      margin: 20pt 0 5pt; }
      section article h3 span {
        font-weight: 600; }
    section article p {
      margin: 5pt 0;
      padding-left: 20pt;
      font-size: 1em; }

#projects div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  #projects div article {
    flex: 0 1 auto;
    align-self: stretch;
    width: calc(100% / 3 - 20pt);
    border-left: solid #000000 3pt;
    padding-left: 10pt;
    margin: 10pt 0; }
    #projects div article h3 {
      margin: 0 0 10pt; }
    #projects div article p {
      padding-left: 0; }
