name: Lint

on:
  workflow_call:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3.1.0

    - run: echo "NODE_VERSION=$(cat .node-version)" >> $GITHUB_ENV
    
    - name: Use Node ${{ env.NODE_VERSION }}
      uses: actions/setup-node@v3.4.1
      with:
        node-version: ${{ env.NODE_VERSION }}

    - name: Install dependencies
      run: npm ci

    - name: Run linter
      run: npm run lint
